.sqrbox{
  width: 500px;
  border: 2px solid black;
  color: aqua;
  text-align: center;
}
.sqrbox .sqrbtn{
  background-color: transparent;
  border: none;
  width:100%;
}
.boardrow{
  display: flex;
}
.board{
  width: 400px;
}